@import "../../../styles.scss";

.sidebar{background: map-get($colors,greenDark);width: 252px; height: 100vh;z-index: 2;position: fixed; top: 0; left: 0;transition: 0.8s}
.sidebar .content-logo{padding: 22px 10px; text-align: center; background: map-get($colors, greenDark) / 2;position: relative}
.sidebar .content-logo a{position: absolute; top: 10px; right: 10px; color:#fff;font-size: 22px;display: none;}
.sidebar .user{padding: 10px;border-bottom: 1px solid rgba(0,0,0,0.2)}
.sidebar .user img{width: 60px; height: 60px; border-radius: 50%;border: 2px solid #fff;float: left}
.sidebar .user .infos{font-family: map-get($fonts, MyriadPro); color:#fff;margin: 13px 0px 13px 70px;}
.sidebar .user .infos a{font-weight: 100; font-family: map-get($fonts,OpenSansL); font-size: 12px; cursor: pointer}
.sidebar .user .infos a i{font-size: 16px}

.sidebar .title{margin: 10px 0px; padding-left: 10px; font-family: map-get($fonts, MyriadPro); color:#fff}
.sidebar .navigation li a{color:#fff; font-family: map-get($fonts, MyriadPro);display: block;line-height: 36px;background: map-get($colors, greenDark) / 1.3; padding: 5px 10px; border-bottom: 1px solid rgba(200,200,200,0.2);text-shadow: 0px 4px 5px rgba(0,0,0,0.4)}
.sidebar .navigation li a:hover{background: map-get($colors, greenDark) / 1.5; }
.sidebar .navigation .active a{border-left: 4px solid map-get($colors, greenLight)}
.collapse{left: -252px}

@media(max-width: 767px){	
	.sidebar .content-logo a{display: block}
	.sidebar{left: -252px;}
	.collapse{left: 0px}
}