<app-breadcrumb [heading]="'Dashboard'" [icon]="'icon-gauge'"></app-breadcrumb>
<div class="content-dashboard">
	<div class="col-3">
		<div class="box">
			<h4>Dietas:</h4>
			<div class="number">
				18
			</div>
			<div class="info">
				<span>Cadastradas</span>
			</div>
			<div class="icon">
				<i class="icon-food-1"></i>
			</div>
		</div>
	</div>	
	<div class="col-3">
		<div class="box">
			<h4>Clientes</h4>
			<div class="number">
				231
			</div>
			<div class="info">
				<span>Em contato</span>
			</div>
			<div class="icon">
				<i class="icon-users-1"></i>
			</div>
		</div>
	</div>
	<div class="col-3">
		<div class="box">
			<h4>Aprovação</h4>
			<div class="number">
				+9
			</div>
			<div class="info">
				<span>Essa semana</span>
			</div>
			<div class="icon">
				<i class="icon-thumbs-up"></i>
			</div>
		</div>
	</div>
	<div class="col-3">
		<div class="box">
			<h4>Rejeição</h4>
			<div class="number">
				+3
			</div>
			<div class="info reject">
				<span>Essa semana</span>
			</div>
			<div class="icon">
				<i class="icon-thumbs-down"></i>
			</div>
		</div>
	</div>

	<div class="col-6">
		<div class="box">
			<h4>Principais dietas:</h4>
			<div class="col-4">
				<img src="./assets/img/dieta.jpg"/>
				<h5>Dieta x</h5>
			</div>
			<div class="col-4">
				<img src="./assets/img/dieta.jpg"/>
				<h5>Dieta x</h5>
			</div>
			<div class="col-4">
				<img src="./assets/img/dieta.jpg"/>
				<h5>Dieta x</h5>
			</div>					
		</div>
	</div>

	<div class="col-6">
		<div class="box">
			<h4>Ingredientes Preferidos:</h4>
			<div class="col-4 mt23 mb23">
				<img src="./assets/img/beef.png"/>
				<h5>Carne</h5>
			</div>
			<div class="col-4 mt23 mb23">
				<img src="./assets/img/chicken.png"/>
				<h5>Frango</h5>
			</div>
			<div class="col-4 mt23 mb23">
				<img src="./assets/img/turkey.png"/>
				<h5>Peru</h5>
			</div>					
		</div>
	</div>
</div>
