<div *ngIf="user !== null">
	<app-breadcrumb [heading]="'Usuários'" [icon]="'icon-user-1'" [other]="user.name"></app-breadcrumb>
	
	<div class="content-profile">
		<div class="col-infos">		
			<div class="imgBanner">
				<img src="./assets/img/logo.svg" />		
			</div>
			<div class="infos">
				<div class="image-content">
					<img src="{{user.avatar_url}}" class="img-circle" />
					<div class="effect-hover">	
						<a class="c-p">
							<i class="icon-picture"></i><br/>
							<span>Ver imagem</span>
						</a>
					</div>
				</div>	
				<div class="line-white">
					<div class="fll">
						<h4>{{user.name}}</h4>
						<p class="ml30">{{user.login}}</p>
						<p class="ml30"><i class="icon-location"></i>{{user.location}}</p>
					</div>				
					<ul class="flr mt10">
						<li class="tac">
							<h4 class="m0">{{user.public_repos}}</h4>
							<span>Repositórios público</span>
						</li>
						<li class="tac">
							<h4 class="m0">{{user.public_gists}}</h4>
							<span>Gists</span>
						</li>
						<li class="tac">
							<h4 class="m0">{{user.followers}}</h4>
							<span>Seguidores</span>
						</li>						
						<li class="tac">
							<h4 class="m0">{{user.following}}</h4>
							<span>Seguindo</span>
						</li>
					</ul>
				</div>			
			</div>
		</div>	
		<div class="col-12">
			<div class="col-4">
				<h3>Repositórios</h3>
			</div>			
			<div class="col-8">
				<div class="flr">					
					<input class="input-frm" type="text" [(ngModel)]="filterString" placeholder="Buscar" (keyup)="filtrarTabela($event)"/>
					<span>Ordernar:</span>
					<select class="input-frm" #ordenar (change)="reordenar(ordenar.value)">
						<option value="0">Decrescente</option>
						<option value="1">Crescente</option>						
					</select>					
					<span>Mostrar:</span>
					<select class="input-frm" #grid (change)="visualizacao(grid.value)">
						<option *ngFor="let option of amostras" value="{{option.key}}">
							{{option.key}}
						</option>
					</select>					
				</div>				
			</div>		
			<div class="clear"></div>	
			<div *ngFor="let item of listRepos | filter: filterString:listRepos | slice:start:end" class="box">
				<a routerLink="/usuarios/repos/{{item.full_name}}">
					<h4>{{item.name}}</h4>
					<p>{{item.description}}</p>
					<ul>
						<li>
							<i class="icon-keyboard"></i>
							<span>{{item.language}}</span>
						</li>
						<li>
							<i class="icon-star"></i>
							<span>{{item.stargazers_count}}</span>
						</li>
						<li>
							<i class="icon-fork"></i>
							<span>{{item.forks_count}}</span>
						</li>
					</ul>
				</a>
			</div>
			<div class="footerTable">
				<div class="col-4 mt10">
					<div class="fll">Página</div>
					<div class="fll tac">
						{{pagAtual}} 
						<span>de</span> 
						{{nPages}}
					</div>			
				</div>		
				<div class="col-8 mt10">
					<nav>
						<ul class="pagination">
							<li>
								<a (click)="PrevPage()" class="control">
									<span><i class="icon-left-big"></i></span>
								</a>
							</li>
							<li *ngFor='let pag of pagination | slice:startPagination:endPagination;' [ngClass]="{'active' : pagAtual === pag.pag}">
								<a *ngIf="pagAtual === pag.pag">{{pag.pag}}</a>
								<a *ngIf="pagAtual !== pag.pag"(click)="mudarPagina(pag.pag)">{{pag.pag}}</a>
							</li>
							<li>
								<a (click)="NextPage()" class="control">
									<span><i class="icon-right-big"></i></span>
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>	
	</div>
</div>

