@import '../../../../styles.scss';
.content-profile{
	position: relative;
	.col-infos{
		width: 100%; 
		background: url(~/assets/img/header.jpg) no-repeat center center; 
		background-size: cover; 
		display: table; 
		width: 100%; 
		position: relative;
		box-shadow: 0px 5px 5px rgba(150,150,150,0.3);
		font-family: map-get($fonts,MyriadPro);
		h2{
			color:#fff; 
			position: absolute; 
			top: 70px;
			width: 100%; 
			font-size: 3em; 
			font-style: italic; 			
		}
		.infos{
			margin-top: 200px;
			display: table;
			background: #fff; 
			width: 100%;
			position: relative;
			padding: 20px;
			.image-content{
				text-align: center;
				width: 180px;
				float: left;
				position: relative; 
				margin-top: -110px;
				background: #fff;
				border-radius: 50%;
				overflow: hidden; 
				transition: 0.5s;
				cursor: pointer;

				img{border: 3px solid #fff;transition:0.6s;width: 180px; height: 180px;}

				.effect-hover{
					width:100%;
					height:100%; 
					position: absolute;
					left:0;
					top:0;
					display: flex; 
					align-items: center; 
					justify-content: center;
					transition: 0.6s; 
					opacity:0;
					a{color:#000;font-family: OpenSansB}
					i{font-size: 2em}
				}

				&:hover{box-shadow: 0px 5px 5px rgba(100,100,100,0.3)}
				&:hover img{opacity: 0.2;}
				&:hover .effect-hover{opacity:1;}
			}
			.line-white{background:#fff;display: block; width: 100%;}

			h4{color:#939393;font-size: 24px; font-style: italic;margin-top: 0px;margin-left: 30px;margin-bottom: 0px}

			li{
				display: inline-block;
				border-right: 1px solid rgba(100,100,100,0.2); 
				padding: 0px 15px;
				
				&:last-child{border-right: 0px}
			}
		}

		.imgBanner{
			width: 100%; 
			position: absolute;
			text-align: center;
			img{width: 200px;margin-top: 20px}
		}
	}
	.frms{background: #fff; width: 100%; min-height: 400px; padding: 20px;margin-top: 30px;box-shadow: 0px 5px 5px rgba(150,150,150,0.3);display: table; width: 100%;}
	.col-12{padding: 20px; background: #fff;margin-top: 20px}
}

@media(max-width: 850px){
	.col-infos h2{top: 40px;}
	.line-white{text-align: center !important}
	.line-white .fll,
	.line-white .flr{float: none !important;}
	.line-white ul li{display: block !important; border: 0px !important;}
	.col-infos .image-content{float: none !important;position: relative !important;margin: -110px auto 0px auto !important}
	.col-infos .imgBanner{text-align: left !important;left: 10px !important}
	.col-infos .imgBanner img{width: 100px !important;}
}

.col-12{
	font-family: map-get($fonts, MyriadPro);
	margin-bottom: 30px;
	.col-8{
		span{font-weight: 100;font-family: map-get($fonts,OpenSansL); font-size: 12px}
		select,
		input{ width: 100px; border: 1px solid rgba(150,150,150,0.2)}				
	}
	.box{		
		border-bottom: 1px solid rgba(150,150,150,0.2);
		a{color:#000;display: block;padding: 20px}
		a:hover{@include background-opacity(map-get($colors, greenLight), 0.1)}
		h4{font-size: 18px; text-transform: capitalize}
		p{font-family: map-get($fonts,OpenSansL);font-size: 14px; font-style: italic}
		&:last-child{border-bottom: 0px}
		ul li{
			display: inline-block;
			padding: 0px 5px;
			&:first-child i{color: map-get($colors, danger)}
			&:nth-child(2) i{color: map-get($colors, warning)}
			&:last-child i{color: map-get($colors,info)}
		}		
	}		
}

nav{
	float: right;
	.pagination{
		padding: 0;
		margin: 0;
		li{
			display: inline-block;
			a{
				cursor: pointer;
				padding: 5px 10px;
				border: 1px solid rgba(100,100,100,0.2)
			}
			.control{@include background-opacity(map-get($colors, greenLight), 0.5)}
		}
		.active{
			pointer-events: none;
			a{
				@include background-opacity(map-get($colors, greenLight), 0.5)
			}
		}
	}
}
